.Rproj.user
.Rhistory
.RData
.Ruserdata
data-accessibility.log
gscramble-one-column-main.aux
gscramble-one-column-main.fff
gscramble-one-column-main.lof
gscramble-one-column-main.log
gscramble-one-column-main.pdf
gscramble-one-column-main.synctex.gz
main.aux
main.blg
main.log
main.out
main.pdf
main.synctex.gz
main-one-col.aux
main-one-col.blg
main-one-col.fff
main-one-col.lof
main-one-col.log
main-one-col.pdf
main-one-col.synctex.gz
.DS_Store
main-one-col.ttt
