.Rproj.user
.Rhistory
.RData
.Ruserdata
data-accessibility.log
gscramble-one-column-main.aux
gscramble-one-column-main.fff
gscramble-one-column-main.lof
gscramble-one-column-main.log
gscramble-one-column-main.pdf
gscramble-one-column-main.synctex.gz
main.aux
main.blg
main.log
main.out
main.pdf
main.synctex.gz
